<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    {% block head %}
    <title>Foodfy</title>
    {% endblock %}

</head>
<body>
    <header>
        <div class="page-logo">
            <a href="/"><img src="/assets/logo.png" alt="Logo da Foodfy"></a>
        </div>

        <div class="pages">
            <a href="">Sobre</a>
            <a href="">Receitas</a>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p>Todos os direitos reservados, receitas Foodfy</p>
    </footer>
</body>
</html>