{% extends "layout.njk" %}

{% block head %}
<title>Foodfy: Sobre</title>
{% endblock %}

{% block content %}

    <div class="about">
        <h2>Sobre o Foodfy</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec ipsum non lectus pharetra rhoncus. Nam finibus elit quis accumsan laoreet. Nullam semper sem nisi, vel vehicula orci egestas id. Curabitur augue ex, consectetur nec aliquam in, hendrerit id dolor. Nulla facilisi. Nulla dapibus nisl vitae luctus consectetur. Suspendisse sollicitudin felis id orci lacinia, et bibendum diam vehicula.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <p>Cras euismod libero eget tempor aliquam. Maecenas sit amet vulputate dui. Integer bibendum ex in orci hendrerit facilisis. Donec vulputate vehicula nulla, sit amet laoreet nisi porta vel. Aliquam suscipit dapibus eros non elementum. Mauris egestas erat quis magna molestie, vitae eleifend felis ultrices. Phasellus feugiat, est sed varius rhoncus, dui massa sollicitudin quam, posuere iaculis leo libero quis quam. In bibendum et diam at rhoncus. Mauris et condimentum tortor, ut blandit libero. Vestibulum pulvinar metus interdum sagittis vehicula. Praesent luctus bibendum tellus, quis ullamcorper nibh. Nunc feugiat ante nec lacus varius, a aliquet mi volutpat.
        Pellentesque ut maximus mi, id hendrerit dolor. Nunc dapibus laoreet viverra. Integer porttitor quam nec euismod congue. Sed leo risus, tincidunt sed erat in, commodo posuere ante. Curabitur pretium nisi placerat vehicula faucibus. Phasellus fermentum dolor leo, non finibus purus hendrerit sit amet. Suspendisse auctor lectus tellus, vel fermentum lacus ultrices vitae. Sed gravida congue rhoncus. Aenean odio erat, semper at leo quis, efficitur commodo est. Aenean tristique porta cursus.
        </p>
    </div>
    
{% endblock %}